* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}
.show {
  display: inline-block;
}

.topDiv{
  background-color: white;
}

.right-nav-mobile {
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 24, 24);
  padding-top: 3rem;
  position: absolute;
  left: 0rem;
  animation: scrolfromleft 0.3s ease 1;
  z-index: 10;
}

.innerMenuDiv {
  color: aliceblue;
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 4.1rem;
}

.mobile-nav-li {
  width: 100%;
}

.mobile-nav-links {
  font-size: 1.2rem;
  width: 100%;
}

@keyframes scrolfromleft {
  from {
    left: -19rem;
  }
  to {
    left: 0rem;
  }
}

.nav-links-desktop {
  display: flex;
  position: absolute;
  right: 1.7rem;
  top: 1.4rem;
}

.nav-links-desktop li {
  margin: 1rem;
  text-transform: uppercase;
  &:hover {
    color: #9d64c5e0;
    text-decoration: underline;
  }
}

/* Hambruger */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.hero {
  background-color: white;
  position: relative;
  top: 6rem;
  padding-top: 6.7rem;
  height: 100vh;
  box-shadow: inset 0 0 6px rgb(195, 189, 189);
  margin: auto;
  max-height: 1000px;
  max-width: 1400px;
}

.right-hero {
  width: 50%;
}

.left-hero {
  width: 50%;
  padding: 2rem;
}



.hero img {
  max-width: 600px;
  aspect-ratio: 6/4;
  object-fit: contain;
}

.text-bg:not(p) {
  height: max-content;
  background: linear-gradient(to right, rgb(156, 100, 197), rgb(89, 4, 150));
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: 2.6rem;
  cursor: pointer;
}
.text-bg p {
  color: black;
}



/* main */
main {
  width: 100%;
  position: relative;
  top: 6rem;
  padding-top: 6rem;
  height: max-content;
  background-color: #9d64c5e0;

}
.about-texts {
  padding: 1rem;
  color: white;

  & h4 {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
  & p{
    font-weight: 300;
    font-size: 1.2rem;
  }
}

.cards{
  padding: 1rem;
  
}

.card{
  margin: 0.6rem;
 max-width: 23rem;
  height: max-content;
  padding:1.6rem 0.6rem;
  text-align: center;
  & h2,p{
    color: white;
    margin: 0.3rem;
  }


}

.projects-inner{
  color: black;
}


.card-img{
  max-width: 14rem;
  margin: auto;
  object-fit: cover;
  border-radius: 12px;
}

.projects{
  height: max-content;
  width: 100%;
  color:#9d64c5e0 ;
  
}


#contact{
  background-color: #9d64c5e0;
  color: white;
  height: max-content;
  padding: 3.5rem;
  text-align: center;
}

.contact-details a{
  margin: 1.72rem;
}
/* Media Querries */

/* Burger Transition */

@media (max-width: 800px) {
  .right-nav-desktop {
    display: none;
  }

  .hamburger-div {
    display: inline-block;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }
  .hero {
    flex-direction: column;
    padding-top: 1.7rem;
    padding-bottom: 4rem;
    height: 100vh;
    height: 900px;
  }
  .right-hero,
  .left-hero {
    width: 100%;
    text-wrap: wrap;
  }
  .left-hero {
    margin: 0;
  }
  .right-hero {
    margin-top: 3rem;
  }
  .projects-inner{
    flex-direction: column;
    justify-content: center;
    margin: auto;
  } 

}
